.container{
  width: 50%;
  margin: 0 auto;
  padding-top: 50px;
}

ol.list li{
    font-family: 'Trocchou'; 
   font-weight: light; 
   font-style: normal; 
   font-size: 3em;
   padding: .5em 1em 0 1.5em;
text-indent: -40px;
position: relative;

}

button {
  float: right;
  height: 40px;
  width: 40px;
}

ol.list li .delete {
  float: right;
  font-family: helvetica, sans-serif;
  font-size: 10px;
  display: block;
  top: 5em;
  position: absolute;
  right: 0;
  color: #333;
}

.delete:hover{
  color: #000;
  text-decoration: underline;
}

ol.list label {
display: inline-block;
position: relative;
font-size: 1em;
padding: 0 0 0 80px;
vertical-align: top;
color: rgba(0,0,0,0.2);
cursor: pointer;
-webkit-transition: color 0.3s;
transition: color 0.3s;
}

ol.list {
list-style: decimal;
list-style-position: inside;
}

input[type="checkbox"], input[type="radio"] {
opacity: 0;
-webkit-appearance: none;
display: inline-block;
vertical-align: middle;
z-index: 100;
}

input[type="checkbox"], input[type="radio"], li::before {
width: 50px;
height: 50px;
top: 50%;
left: 0;
margin-top: -25px;
position: absolute;
cursor: pointer;
}


input[type="text"] {
  -webkit-box-sizing: border-box; /* For legacy WebKit based browsers */
     -moz-box-sizing: border-box; /* For all Gecko based browsers */
          box-sizing: border-box;
          width: 80%;
        margin-left: 35px;
        padding: 10px;
        font-size: 1em;


}


.ac-list svg {
width: 100%;
position: absolute;
height: 80px;
left: 0;
top: .75em;
margin-top: 0px;
pointer-events: none;
}
.ac-list svg path{
  stroke: #eee;
  stroke-width: 4px;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}

.ac-list input[type="checkbox"]:checked + label,
.ac-list input[type="radio"]:checked + label {
  opacity: 0.5;
} 

.ac-list input[type="checkbox"]:checked + label::before,
.ac-list input[type="radio"]:checked + label::before {
  opacity: 0.8;
}



.ac-list input[type="checkbox"],
.ac-list input[type="radio"],
label::before {
    width: 50px;
    height: 50px;
    top: 50%;
    left: 0;
    margin-top: -25px;
    position: absolute;
    cursor: pointer;
}
.ac-list input[type="checkbox"],
.ac-list input[type="radio"] {
    opacity: 0;
    display: inline-block;
    vertical-align: middle;
    z-index: 100;
}
